.navbar {
  background-color: black;
  padding: 0px !important;
}

.veg-text{
  font-size: 12px;
}


.nav {
  gap: 10px;
  flex-wrap: nowrap !important;
  .nav-item {
    .nav-link.active {
      background-color: #d02329;
      border: 1px solid  #d02329;
    }
    .nav-link {
        border-radius: 20px;
      border: 1px solid #c9c9c9;
      color: #686868;
      font-size: 14px;
    }
  }
}

/* src/App.css */
.category-tabs {
    justify-content: center;
  white-space: nowrap; /* Prevent the tabs from wrapping onto the next line */
  overflow-x: auto; /* Allow horizontal scrolling */
  display: flex; /* Ensure the tabs are laid out in a horizontal line */
  margin-bottom: 0;
}
::-webkit-scrollbar {
  display: none;
}
//   ::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 6px rgba(221, 221, 221, 0.3);
//   }

//   ::-webkit-scrollbar-thumb {
//     background-color: white;

//     outline: 1px solid rgb(221, 228, 234);
//   }

.category-tabs .nav-tabs {
  flex-direction: row; /* Ensure tabs are in a row */
  display: flex; /* Flexbox to arrange tabs in a single line */
}

.category-tabs .nav-item {
  display: inline-block; /* Ensure each tab stays on the same line */
}

@media (max-width: 767px) {
  .category-tabs {
    justify-content: unset;
    flex-direction: row; /* Stack tabs vertically on small screens */
    height: 100%; /* Ensure the height is 100% of the container */
    overflow-y: auto; /* Enable vertical scrolling on overflow */
  }

  .category-tabs .nav-tabs {
    display: block; /* Stack the tabs vertically */
  }

  .category-tabs .nav-item {
    text-align: center; /* Center the text in each tab */
  }
}

.card{
    border: none !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .card-title{
        font-size: 14px;
        font-weight: 600;
        color: #d02329;
    }
    .price{
        color: #d02329;
        font-weight: 600;
    }
}
.title{
    font-size: 16px;
}
.fix-thali-title{
    font-size: 16px;
    margin-bottom: 0;
    color: #b51d22;
}



  


/* src/components/loadSpinner/loader.css */
.loader-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  animation: fadeIn 1s ease-in-out; /* Fade-in animation */
}

.fade-out {
  animation: fadeOut 1s ease-in-out forwards; /* Fade-out animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.spinner-border {
  border-bottom-color: #d02329;
  border-top-color: #d02329;
  border-left-color: #d02329;
  width: 4rem;
  height: 4rem;
  border-right: none;
  outline: none;
}

span span {
  background-color: #d02329;
}




